/* * {
  font-family: 'Poppins', sans-serif;
} */

html {
  scroll-behavior: smooth;
}


h4 {
  color: #ff3980;
  margin: 20px;
  font-size: 22px;
}

body {
  margin: 2px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

i {
  color: orange;
}

footer {
  text-align: center;
}

cite {
  font-style: normal;
  color: #ff3980;
  font-size: 10px;
  text-decoration: underline;
}

.heading {
  background-image: url(https://image.shutterstock.com/shutterstock/photos/362520884/display_1500/stock-vector-dark-blue-pink-light-abstract-technology-background-for-computer-graphic-website-internet-and-362520884.jpg);

  background-position: center;

  /* color: black; */
  text-align: center;
  padding: 125px;
}

.program-name {
  font-size: 40px;
  margin: 0;
}

.heading-paragraph {
  text-indent: 20px;
}

.button:hover,
.apply:hover {
  color: black;
  border: 1px solid #ff3980;
  background-color: white;
  transition: 0.3s;
}

.button {
  background-color: #ff3980;
  border-radius: 5px;
  color: white;
  border: 0;
  height: 40px;
  width: 120px;
  margin: 20px;
}

#main-part {
  margin: 20px 80px 20px 80px;
}

.learn-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.video-block {
  background-image: url(imgs/background.jpeg);
  color: white;
  padding: 50px;
  margin-bottom: 60px;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sentence-to-video {
  font-size: 20px;
  order: 2;
}

.apply {
  background-color: #ff3980;
  border-radius: 5px;
  color: white;
  border: 0;
  height: 40px;
  width: 120px;
}

.quote {
  margin-bottom: 20px;
}

.fab {
  color: white;
  font-size: 50px;
  /* border: 0px solid white */
  background-color: transparent;
}

.made-by {
  background-image: url(imgs/background.jpeg);
  color: rgb(253, 188, 188);
  padding: 7px;
  font-size: 10px;
  position: sticky;
  bottom: 0;
  text-align: center;
}

.heart,
.creator-name {
  color: #ff3980;
}


.question{
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.question:hover{
  /* border-color: */
  /* border:#ff3980 */
  outline: 1px solid  #ff3980;
  border-radius: 3px;
}

.answer{
  padding-left: 40px;
}

.answer p {
  margin-top: 0;
}

.answer-hidden{
  display: none;
}

.answer-visible{
  display: initial;
 
}

.question-container{
  margin: 20px 0px;
}


/* Chevron start*/

.chevron:before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.4em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
  margin-right: 15px

}

.right:before{
  left: 0px;
	transform: rotate(45deg);

}

.bottom:before{
	top: 6px;
	transform: rotate(135deg);
  
}

input{
  
}