* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 2px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

h4 {
  color: #ff3980;
  margin: 20px;
  font-size: 22px;
}

.heading {
  background-image: url(https://image.shutterstock.com/shutterstock/photos/362520884/display_1500/stock-vector-dark-blue-pink-light-abstract-technology-background-for-computer-graphic-website-internet-and-362520884.jpg);
  background-position: center;
  text-align: center;
  padding-bottom: 100px;
}
.heading-paragraph {
  text-indent: 20px;
}

.program-name {
  font-size: 40px;
  margin: 45px;
}

.button {
  height: 40px;
  width: 120px;
  background-color: #ff3980;
  border-radius: 5px;
  color: white;
  border: 0;
  margin: 20px;
}
.button:hover {
  color: #ff3980;
  border: 1px solid #ff3980;
  background-color: white;
  transition: 0.3s;
  border-radius: 5px;
}

.apply {
  height: 40px;
  width: 120px;
  background-color: #ff3980;
  border-radius: 5px;
  color: white;
  border: 0;
}
.apply:hover {
  color: #ff3980;
  border: 1px solid #ff3980;
  background-color: white;
  transition: 0.3s;
  border-radius: 5px;
}

.learn-btn {
  margin: 20px auto;
  display: block;
}

.open-close-search {
  display: flex;
  justify-content: space-between;
}
.open-close-search .open-close {
  height: 50px;
}
.open-close-search .clear {
  margin-left: 0px;
}
.open-close-search input[type=text] {
  border: 1px solid #ff3980;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}

.chevron:before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.4em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
  margin-right: 15px;
}

.right:before {
  left: 0px;
  transform: rotate(45deg);
}

.bottom:before {
  top: 6px;
  transform: rotate(135deg);
}

.question {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.question:hover {
  outline: 1px solid #ff3980;
  border-radius: 3px;
}
.question-container {
  margin: 20px 0px;
}

.answer {
  padding-left: 40px;
}
.answer p {
  margin-top: 0;
}
.answer-hidden {
  display: none;
}
.answer-visible {
  display: block;
}

i {
  color: orange;
}

footer {
  text-align: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-block {
  background-image: url(imgs/background.jpeg);
  color: white;
  padding: 50px;
  margin-bottom: 60px;
}
.video-sentence {
  font-size: 20px;
  order: 2;
  margin: 20px;
}

cite {
  font-style: normal;
  color: #ff3980;
  font-size: 10px;
  text-decoration: underline;
}

.quote {
  margin-bottom: 20px;
}

.fab {
  color: white;
  font-size: 50px;
  /* border: 0px solid white */
  background-color: transparent;
}

.made-by {
  background-image: url(imgs/background.jpeg);
  color: rgb(253, 188, 188);
  padding: 7px;
  font-size: 10px;
  position: sticky;
  bottom: 0;
  text-align: center;
}

.heart,
.creator-name {
  color: #ff3980;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.question-container {
  list-style-type: none;
}

.button-question.question {
  font-family: inherit;
  background: transparent;
  color: #191635;
  border: 0;
  text-transform: none;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  padding-bottom: 12px;
}
.nav-item {
  list-style-type: none;
  padding: 8px;
}
.nav-item:hover {
  color: #ff3980;
  border: 1px solid #ff3980;
  background-color: white;
  transition: 0.3s;
  border-radius: 5px;
  padding: 5px;
}
.nav-item a {
  text-decoration: none;
  color: #ff3980;
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
