.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.question-container{
  list-style-type: none;
}

.button-question{

    &.question {
        font-family: inherit;
        background: transparent;
        color: #191635;
        border: 0;
        text-transform: none;
    }
}
