@use "variables.scss" as variables;

@mixin btnSize{
  height: 40px;
  width: 120px;
}


@mixin hoverBtns{
  color: variables.$primaryColor;
  border: 1px solid variables.$primaryColor;
  background-color: white;
  transition: 0.3s;
  border-radius: 5px;

}

@mixin buttonStyle{

  background-color: variables.$primaryColor;
  border-radius: 5px;
  color: white;
  border: 0;
  margin: 20px;
}